{% extends "main/design/header.html" %}
{% block content %}
{% if user.is_authenticated %}
<style>
    .report-container {
        margin: 0px;
    }
    .report-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
    
    .report-body {
        margin-top: 20px;
    }
    .report-topic-heading {
        display: flex;
        justify-content: space-between;
    }
    .t-op {
        flex: 1;
        text-align: center;
    }
    .items .item1 {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
    }
    .t-op-nextlvl {
        flex: 1;
        text-align: center;
    }
    .view-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #5500cb;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .view-button:hover {
        background-color: #6c3483;
    }
    .sb{
        height:35px; 
        width:200px;
    }

</style>
<div class="report-container">
    <div class="report-header">
        <h1 class="recent-Articles">Past Trips</h1>
        
        <button class="view">View All</button>
    </div>

    <div class="report-body">
        <div class="report-topic-heading">
            <h3 class="t-op">Organizer</h3>
            <h3 class="t-op">From Place</h3>
            <h3 class="t-op">To Place</h3>
            <h3 class="t-op">Date</h3>
            <h3 class="t-op">Leaving Time</h3>
            <h3 class="t-op"></h3>
        </div>

        <div class="items">
            {% if past_travel_plans %}
            {% for trip in past_travel_plans %}
            <div class="item1">
                <h3 class="t-op-nextlvl">{{ trip.organizer }}</h3>
                <h3 class="t-op-nextlvl">{{ trip.source_place }}</h3>
                <h3 class="t-op-nextlvl">{{ trip.destination_place }}</h3>
                <h3 class="t-op-nextlvl">{{ trip.date }}</h3>
                <h3 class="t-op-nextlvl">{{ trip.leaving_time }}</h3>
                <a href="{% url 'travel_plan_details' trip.pk %}" class="view-button">View</a>
            </div>
            {% endfor %}
            {% else %}
                <p>You have not yet traveled any plans.</p>
            {% endif %}
        </div>
    </div>
{% else %}
    <p>You are not allowed to view this page.</p>
{% endif %}
{% endblock content %}
