{% extends "main/header.html" %}
{% block content %}
{% if user.is_authenticated %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .report-container {
        margin: 0px;
    }
    .home-icon a {
        color: #000000;
        text-decoration: none;
    }
    .home-icon a:hover {
        color: #8e44ad;
    }
    .danger {
        color: #ff0000;
    }
</style>

<div class="report-container">
    <div class="report-header">
        <h1 class="recent-Articles">Edit POST</h1>
        <button class="view">View All</button>
    </div>

    <div class="report-body">
        <div class="report-topic-heading">
            <h3 class="t-op">Edit</h3>
            <h3 class="t-op">From Place</h3>
            <h3 class="t-op">To Place</h3>
            <h3 class="t-op">Date</h3>
            <h3 class="t-op">Leaving Time</h3>
        </div>

        <div class="items">
            {% if travel_plans %}
                {% for plan in travel_plans %}
                <div class="item1">
                    {% if plan.date > today %}
                        <div class="home-icon">
                            <a href="{% url 'edit_travel_plan' plan.pk %}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                    {% else %}
                        <div class="danger">
                            <i class="fa-solid fa-exclamation-triangle"></i> 
                        </div>
                    {% endif %}
                    <h3 class="t-op-nextlvl">{{ plan.source_place }}</h3>
                    <h3 class="t-op-nextlvl">{{ plan.destination_place }}</h3>
                    <h3 class="t-op-nextlvl">{{ plan.date }}</h3>
                    <h3 class="t-op-nextlvl">{{ plan.leaving_time }}</h3>
                </div>
                {% endfor %}
            {% else %}
                <p>No created posts available for editing.</p>
            {% endif %}
        </div>
    </div>
{% else %}
    <p>You are not allowed to view this page.</p>
{% endif %}
{% endblock content %}
