{% extends "main/header.html" %}
{% block content %}
<style>
    
    .item1 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: stretch;
        flex-direction: column;
        align-items: flex-start;
    }
    .join-button{
        background-color: blue;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
    }
    .profile-button{

        background-color: blue;
        color: white;
        padding: 8px 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-right: 10px;
    }
    .accept-button {
        background-color: green;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
    }
    .decline-button {
        background-color: red;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    li {
        list-style: none;
        margin-bottom:20px;
    }
</style>
<div class="report-container">
    <div class="report-body">
        <div class="report-topic-heading">
            <h2>Travel Plan Details</h2>
        </div>

        <div class="items">
            <div class="item1">
                
                <br>
                
                <h3>Organizer:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ travel_plan.organizer }}</h3>
                <h3>Source Place:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ travel_plan.source_place }}</h3>
                <h3>Destination Place:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ travel_plan.destination_place }}</h3>
                <h3>Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ travel_plan.date }}</h3>
                <h3>Leaving Time:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ travel_plan.leaving_time }}</h3>
                <h3>Waiting Time:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ travel_plan.waiting_time }}</h3>
                <br><br>
                <h3>Members who accepted:</h3>
            <ul>
                {% for member in travel_plan.members.all %}
                    <li>{{ member.username }}</li>
                    
                {% endfor %}
            </ul>

            {% if request.user != travel_plan.organizer and not is_member and not join_request %}
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="join" class="join-button">Join</button>
                </form>
            {% elif join_request and not join_request.is_accepted %}
                <p>Join request sent. Waiting for organizer's approval.</p>
            {% elif is_member %}
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="cancel" class="decline-button">Cancel</button>
                </form>
            {% endif %}
        </div>
        {% if request.user == travel_plan.organizer %}
            <h3>Join Requests:</h3>
            <br>
            <ul>
                {% for request in travel_plan.joinrequest_set.all %}
                    {% if not request.is_accepted %}
                    
                        <li>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ request.user.username }}
                            <form method="post" style="display:inline;">
                                {% csrf_token %}
                                <a class="profile-button" href="{% url 'user_profile' request.user.id %}">View Profile</a> <!-- Updated URL -->
                                <button type="submit" name="accept" value="{{ request.id }}" class="accept-button">Accept</button>
                            </form>
                        </li>
                        
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
